name: build-apk-imagetoolbox

on:
  workflow_dispatch:

env:
  ANDROID_COMPILE_SDK: '36'
  ANDROID_BUILD_TOOLS: '36.0.0'
  JDK_VERSION: '21'
  JDK_DISTRIBUTION: 'adopt'
  JDK_PACKAGE: 'jdk'
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Clean runner environment
        run: |
          rm -rf ~/.gradle/caches/transforms-*
          rm -rf ~/.android/build-cache/

      - name: Checkout source repo
        uses: actions/checkout@main
        with:
          repository: T8RIN/ImageToolbox
          ref: master
          path: imagetoolbox_source
          fetch-depth: 0
          submodules: recursive  # 如果有子模块需要拉取

      - name: Checkout ci source repo (self)
        uses: actions/checkout@main
        with:
          path: ci_source

      - name: Initialization values
        run: |
          echo "BUILD_DATE=$(TZ=UTC-8 date +"%y.%m.%d-%H.%M.%S")" >> $GITHUB_ENV

      - name: Set up jdk 21 adopt
        uses: actions/setup-java@main
        with:
          java-version: ${{ env.JDK_VERSION }}
          distribution: '${{ env.JDK_DISTRIBUTION }}'
          java-package: '${{ env.JDK_PACKAGE }}'
          cache: gradle

      - name: Set up keystore
        working-directory: ./imagetoolbox_source
        run: |
          sudo apt update -y || true
          sudo apt install -y --no-install-recommends coreutils
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > ./keystore.p12

      - name: Build market release apk
        working-directory: ./imagetoolbox_source
        run: |
          chmod +x ./gradlew
          ./gradlew assembleMarketRelease

      - name: Sign market release apk
        working-directory: ./imagetoolbox_source
        run: |
          ANDROID_SDK_PATH="$ANDROID_HOME/build-tools/${{ env.ANDROID_BUILD_TOOLS }}/apksigner"
          for apk in app/build/outputs/apk/market/release/*.apk; do
            if [[ "$apk" == *"arm64-v8a"* ]] && [[ "$apk" != *"foss"* ]]; then
              $ANDROID_SDK_PATH sign \
                --ks "./keystore.p12" \
                --ks-key-alias "${{ secrets.KEY_ALIAS }}" \
                --ks-pass "pass:${{ secrets.KEYSTORE_PASSWORD }}" \
                --ks-type PKCS12 \
                --out "./imagetoolbox-${{ env.BUILD_DATE }}.apk" \
                "$apk"
            else
              echo "skipping apk (not arm64-v8a or contains foss): $(basename "$apk")"
            fi
          done

      - name: Erase keystore, encrypt package and create release
        uses: ./ci_source/.github/actions/erase_aes256pac_release/
        with:
          P12_KEYSTORE_PATH: "./imagetoolbox_source/keystore.p12"
          ZIP_AES256_PWD: ${{ secrets.ZIP_AES256_PWD }}
          BUILD_ARTIFACT_PATH: "./imagetoolbox_source/imagetoolbox-${{ env.BUILD_DATE }}.apk"
          RELEASE_TAG_NAME: "${{ env.BUILD_DATE }}-imagetoolbox"